pipeline/Capture_Dataflow_Error_logs.json
{
	"name": "Capture_Dataflow_Error_logs",
	"properties": {
		"activities": [
			{
				"name": "Error_Test_DataFlow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "PipelineStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Error_Test_DataFlow",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PipelineEndTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.errorlogs",
					"storedProcedureParameters": {
						"Error_msg": {
							"value": {
								"value": "@if(equals(activity('Error_Test_DataFlow').Status, 'Failed'), activity('Error_Test_DataFlow').Error.message,'NULL' )\n\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{activity('Error_Test_DataFlow').PipelineName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Runid": {
							"value": {
								"value": "@{activity('Error_Test_DataFlow').PipelineRunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Runtime_minutes": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Status": {
							"value": {
								"value": "@variables('PipelineStatus')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Trigger_Time": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Rows_Read": {
							"value": {
								"value": "@if(equals(activity('Error_Test_DataFlow').Status, 'Succeeded'),activity('Error_Test_DataFlow').output.runStatus.metrics.sink1.sources.source1.rowsRead, 0 )\n",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Rows_Written": {
							"value": {
								"value": "@if(equals(activity('Error_Test_DataFlow').status, 'Succeeded'), activity('Error_Test_DataFlow').output.runStatus.metrics.sink1.rowsWritten, 0)\n",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedService1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PipelineStartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineStartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PipelineEndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Error_Test_DataFlow",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineEndTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ErrorLog": {
				"type": "String"
			},
			"PipelineStatus": {
				"type": "String"
			},
			"PipelineStartTime": {
				"type": "String"
			},
			"PipelineEndTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AzureRealTimeScenarios"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-17T13:03:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}